<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload file image</title>
</head>
<body>
    <p>Upload file new time</p>
    <%= typeof msg != "undefined"?msg:'' %>
    <form action="/upload/image" method="post" enctype="multipart/form-data">
        <input type="file" name="fileimage" id="file"><br>
        <input type="submit" value="Upload">
    </form>
        <img src="<%= typeof src != 'undefined'?src:'' %>" alt="">
</body>
</html>