<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    p{
        background: rgba(185, 214, 185, 0.924);
        border: 1px solid green;
        padding: 23px;
        border-radius: 7px;
    }
    </style>
</head>
<body>
    <% if(locals.success && locals.files && locals.proc){%>
   <p ><%=success%></p> 
   <p ><%=proc%></p> 

   <img src='<%=files%>' alt="soraka an">
   <%}%>

    <form action="/ng2/ng2uploadfile" enctype="multipart/form-data"  method="post">
        <input type="file" name="file"   id="file" multiple>
        <button type="submit">Upload file </button>
    </form>
</body>
</html>